body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
}

hr {
  border: none;
  height: 2px;
  background-color: #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
